/*----------------
global styles
------------------*/

body {
    padding: 0;
    margin: 0;
    /*    font-family: "Roboto Mono";*/
    font-family: sans-serif;
    color:#4f545c;
    

/*        background: yellowgreen;*/
}

h3{
    line-height: 47px;
}
.section-head{
    width: 100%;
    text-align: center;
    padding: 0px 25%;
    color:#4f545c;
    
}

p {
    color: #737f8d;
    line-height: 30px;
}

@keyframes code-bounce {
    from {
        transform: rotate(10deg);

    }

    to {
        transform: rotate(-10deg)
    }
}

@keyframes social-shake{
    from{
     transform: rotateX(12deg);
    }
    
    to{
        transform: rotateX(-12deg);
}
    
}



@keyframes rotater{
      from{
     transform: rotateY(0deg);
    }
    
    to{
        transform: rotateY(360deg);
}
    
    
}

.casual-button {
    background: #44C4A1;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    vertical-align: middle;
    transition: 250ms ease-in;
    border: 2px solid #44C4A1;
    text-align: center;
    display: block;
    width: 180px;
    margin: auto;
}

.casual-button:hover {
    color: #44C4A1;
    text-decoration: none;
    background: transparent;
}

.section-head-two{
   padding: 60px;
    padding-top: 10%;
    color: #E4F1FE;
    height: 100%;
    width: 100%;
background-color: #8DC6FF;
}


/*-----------------
header styles
------------------*/

header {
    color: #E4F1FE;
    width: 100%;
    height: 800px;
    background-color: #8DC6FF;
    text-align: center;
    font-size: 44px;
    background-image: url(../src/img/splitter/spliiter_round.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

header .header-head {
    font-weight: bolder;
    padding-top: 150px;

}

header h1 {
    font-size: 44px;
}

header img {
    margin-top: 95px;
    width: 720px;
    height: 350px;


}

header .code-icons img {
    position: absolute;
    animation: 5s code-bounce ease infinite;
    animation-direction: alternate;
}

header .code-icon-1 {
    top: 1%;
    left: 5%;
}

header .code-icon-2 {
    top: 15%;
    left: 25%;
}

header .code-icon-3 {
    top: 50%;
    left:12%;;
}

header .code-icon-4 {
    top: 27%;
    left: 2%;
}

header .code-icon-5 {
    bottom: 85%;
    left: 60%;
}

header .code-icon-6 {
    top:30%;
    right: 2%;
}

header .code-icon-7 {
    top: 60%;
    right: 4%;
}

header .code-icon-8 {
    top: 10%;
    right: 15%;
}

header .code-icons img {
    width: 65px;
    height: 65px;
}

header .change-code-lang{
    color: #FCD462;
}
/*-----------------
section one styles
------------------*/

.section-one {
    width: 100%;
    height: 450px;
    background: #eee;
}

.date-time{
    text-align: center;
    margin: 30px;
}

.date{
    background: url(../src/img/icons/date/calender.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}
.place{
    background: url(../src/img/icons/date/place.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}

.notifier{
    width: 350px;
    height: 55px;
    padding: 0;
    display: inline-block;
    vertical-align:text-bottom;
    outline: none;
    border: 3px solid  #ff8c00;
    padding: 10px;
    font-family: monospace;
    font-size: 18px;
    
}
.notify-btn{
    width: 80px;
    height: 55px;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align:text-bottom;
    background-image: url(../src/img/icons/mail/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid  #ff8c00;
    background-color: #FF9E24;
    
    
}

.notify-container{
    width: 100%;
    height: 55px;
    text-align: center;
    margin-top: 4%;
}

/*-----------------
section two styles
------------------*/
.section-two{
    width: 100%;
    height: 750px;
    background-color: #22313F;
    color: #E4F1FE;
}

.section-two .section-head,.section-two .section-head p {
    text-align: center;
    color: #E4F1FE;
    
}

.section-two .section-head{
    padding: 35px;
}

.section-two .phase-one-image{
    background-image: url(../src/img/photos/phase-one/phase-one.png);
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}

.section-two .row{
    height: 500px;
    margin: 40px auto;
    width: 90%;
}

.section-two .phase-two-image{
    background-image: url(../src/img/photos/phase-two/phase-two.png);
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}

.section-two .phases{
    height: 100%;
    display: table;
    margin: 0 auto;
    width: 600px;
    
}

.section-two .phase-text{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 35px;
}
.section-two .phase-text-one{
    text-align: right;
    padding-right: 105px;
    
}

.section-two .phase-one-icon{
    background: url(../src/img/icons/phases/phase1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*-----------------
section three styles
------------------*/
.section-three{
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.section-three .row{
    height: 550px;
}

.type-it{
    height: 500px;
    width: 500px;
    display: inline-block;
    color: black;
}

.map-head{
    color: #E4F1FE;
    height: 100%;
    width: 100%;
    background-color: #8DC6FF;
    
}

.section-three .col-md-8{
    
   padding: 0 !important;
   margin: 0 !important;

}

/*------------------
section four styles
-------------------*/
.section-four{
    width: 100%;
}

.section-four img{
    width: 130px;
    height: 130px;
    margin: 20px;
    animation: 1s social-shake ease infinite;
     
}

.section-four img:hover{
    animation: 1s rotater ease-in-out;
}
.social-icon{
    text-align: center;
    padding-top: 12%;
    
}


/*-------------------
footer styles
--------------------*/
footer{
    width: 100%;
    height: 200px;
    background-color: #34495E;
    color: #E4F1FE;
    text-align: center;
    padding-top: 25px;
}

.footer-text ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
        
}

.footer-text li{
    display: inline-block;
    font-size: 20px;
    margin: 20px;
}

footer a{
    color: #E4F1FE;
}